@media all and (min-width:768px) {
  .numsquare, .opsquare, .gridsquare, .dotsquare, #backspace {
    flex-basis:100px;
  }
#result {
  flex-basis:495px;
}

}

.row {
  display: flex;
  align-content: center;
}

.container {

  height: 400px;
  max-width: 800px;
  border-style: solid;
}

.numsquare, .opsquare, .gridsquare, .dotsquare, #backspace {
  height: 20%;
  width: 20%;
  text-align: center;
  padding: 10px 0;
  border: outset;
  font-size: 40px;

}

.numsquare, .dotsquare {
  background-color: gray;
}

.opsquare, #backspace {
  background-color: silver;
  font-weight: bold;
}

#result {
  text-align: center;
  font-size: 60px;
  padding: 20px 0;
  border: inset;
  height: 60px;
  background-color: ivory;
  width: 100%;

}

#backspace {
  width: 20%;
  background-color: darkslategrey;

}

#clear {
  background-color: burlywood;
}

#equal {
  background-color: olivedrab;
}
