.row {
  display: flex;
  align-content: center;
}

.container {

  height: 400px;
  max-width: 400px;
  border-style: solid;
}

.numsquare, .opsquare, .gridsquare, .dotsquare, #backspace {
  height: 80px;
  width: 50%;
  text-align: center;
  padding: 10px 0;
  border: outset;
  font-size: 40px;
  flex-basis:100px;
}

.numsquare, .dotsquare {
  background-color: gray;
}

.opsquare, #backspace {
  background-color: silver;
  font-weight: bold;
}

#result {
  text-align: center;
  font-size: 60px;
  padding: 20px 0;
  border: inset;
  height: 60px;
  background-color: ivory;
  width: 80%;
  flex-basis:395px;
}

#backspace {
  height: 105px;
  width: 20%;
  background-color: darkslategrey;
  flex-basis:100px;
}

#clear {
  background-color: burlywood;
}

#equal {
  background-color: olivedrab;
}
